<!-- Header -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Construction</h1>
        </div>
    </div>
</header>


	<!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="{{ url_for('static', filename='images/construction/kitchen-remodel/main.jpg') }}" alt="">
                </div>
                <div class="col-sm-6">
                	<h2 class="section-header">Kitchen Remodel</h2>
                	<p class="lead text-muted">Fore the months of December 2017 - January 2018 I remodeled my kitchen.</p>
                	<a href="/construction/kitchen-remodel" class="btn btn-primary btn-lg">Check it out</a>
                </div>                
                
            </div>
        </div>
    </section