    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Kitchen Remodel</h1>
            </div>
        </div>
    </header>

	<!-- Intro Section -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	<span class="" style="font-size: 60px"></span>
                    <h2 class="section-heading">About a month and a half of work.</h2>
                    <p class="text-light">Fist of all we started on this because the ceiling above the drop ceiling was falling down.  Now when I approached my wife about the issue she assured me if I had to remove the ceiling she was getting new cabinets. So it began.</p>                
                </div>
            </div>
        </div>
    </section>


	<!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/construction/kitchen-remodel/remove-ceiling.jpg') }}" alt="">
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/construction/kitchen-remodel/old-kitchen.jpg') }}" alt="">
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/construction/kitchen-remodel/new-kitchen.jpg') }}" alt="">
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/construction/kitchen-remodel/main.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>