
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    {{ makeLink("/", "Home") }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us"> 
                            <li><a href="/construction">Construction</a></li>
                            <!-- <li><a href="#">Dev</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->