
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    {{ makeLink("/", "Home") }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us"> 
                            {{ makeLink("/construction", "Construction") }}
                            <!-- <li><a href="#">Dev</a></li> -->
                        </ul>
                    </li>
                    {{ makeLink("/contact", "Contact") }}
                    {{ makeLink("http://gtiwebdev.com", "Dev Blog") }}
                </ul>
                
            </div><!-- /.navbar-collapse -->